.c_head {
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background: #fff;
  color: #b0b0b0;
  height: 100px; }
  .c_head .c_contain1 {
    width: 1226px;
    height: 74px;
    *zoom: 1;
    margin-right: auto;
    margin-left: auto; }
    .c_head .c_contain1 .c_head_logo {
      float: left;
      width: 62px;
      margin-top: 24px;
      margin-right: 46px; }
      .c_head .c_contain1 .c_head_logo em {
        display: block;
        width: 48px;
        height: 48px;
        background-color: #ff6700;
        font-size: 34px;
        color: white;
        line-height: 48px;
        text-align: center; }
    .c_head .c_contain1 .c_head_title {
      float: left;
      margin-top: 24px; }
      .c_head .c_contain1 .c_head_title h2 {
        float: left;
        line-height: 48px;
        margin-bottom: 0;
        font-size: 28px;
        font-weight: normal;
        color: #424242; }
      .c_head .c_contain1 .c_head_title p {
        float: left;
        height: 20px;
        line-height: 20px;
        margin-top: 20px;
        margin-left: 15px; }

.c_page_main {
  padding-top: 38px;
  padding-bottom: 38px;
  background: #f5f5f5; }
  .c_page_main .c_contain2 {
    width: 1226px;
    *zoom: 1;
    margin-right: auto;
    margin-left: auto; }
    .c_page_main .c_contain2 .c_cartbox {
      width: 1226px; }
      .c_page_main .c_contain2 .c_cartbox .c_good_list {
        background: white; }
        .c_page_main .c_contain2 .c_cartbox .c_good_list .list_head {
          height: 70px;
          line-height: 70px;
          padding-right: 26px;
          color: #424242; }
          .c_page_main .c_contain2 .c_cartbox .c_good_list .list_head .col_check_box {
            float: left;
            width: 230px;
            height: 70px;
            line-height: 70px;
            position: relative; }
            .c_page_main .c_contain2 .c_cartbox .c_good_list .list_head .col_check_box .select_all {
              width: 20px;
              height: 20px;
              position: absolute;
              top: 25px;
              left: 20px; }
            .c_page_main .c_contain2 .c_cartbox .c_good_list .list_head .col_check_box span {
              position: absolute;
              top: 0px;
              left: 50px; }
          .c_page_main .c_contain2 .c_cartbox .c_good_list .list_head .col_name {
            width: 380px;
            float: left; }
          .c_page_main .c_contain2 .c_cartbox .c_good_list .list_head .col_price {
            width: 140px;
            padding-right: 18px;
            text-align: center;
            color: #424242;
            float: left; }
          .c_page_main .c_contain2 .c_cartbox .c_good_list .list_head .col_mun {
            width: 150px;
            text-align: center;
            color: #424242;
            float: left; }
          .c_page_main .c_contain2 .c_cartbox .c_good_list .list_head .col_total {
            width: 120px;
            padding-right: 81px;
            text-align: right;
            float: left; }
          .c_page_main .c_contain2 .c_cartbox .c_good_list .list_head .col_action {
            width: 80px;
            text-align: center;
            float: left; }
      .c_page_main .c_contain2 .c_cartbox .list_body .item_table {
        border-top: 1px solid #b0b0b0;
        width: 1226px;
        height: 117px;
        background: white;
        line-height: 118px; }
        .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_check_box2 {
          float: left;
          width: 110px;
          height: 70px;
          line-height: 70px;
          position: relative; }
          .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_check_box2 .select_all2 {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50px;
            left: 20px; }
        .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_img2 {
          width: 120px;
          height: 117px;
          float: left; }
          .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_img2 img {
            width: 86px;
            height: 86px;
            margin-right: 34px; }
        .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_name2 {
          width: 380px;
          float: left; }
        .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_price2 {
          width: 140px;
          padding-right: 18px;
          text-align: center;
          color: #424242;
          float: left; }
        .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_mun2 {
          width: 150px;
          text-align: center;
          color: #424242;
          float: left; }
        .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_total2 {
          width: 120px;
          padding-right: 81px;
          text-align: right;
          float: left; }
        .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_action2 {
          height: 118px;
          width: 80px;
          text-align: center;
          float: left;
          overflow: hidden;
          position: relative; }
          .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_action2 span {
            width: 30px;
            height: 30px;
            display: block;
            border-radius: 50%;
            line-height: 28px;
            text-align: center;
            font-size: 20px;
            position: absolute;
            top: 45px;
            left: 25px; }
          .c_page_main .c_contain2 .c_cartbox .list_body .item_table .col_action2 span:hover {
            background: #ff6700;
            color: white;
            cursor: pointer; }
    .c_page_main .c_contain2 .c_cart_bar {
      margin: 30px 0;
      height: 50px;
      text-align: right;
      width: 1226px;
      background: white;
      position: relative; }
      .c_page_main .c_contain2 .c_cart_bar .c_cart_bar_right {
        position: absolute;
        right: 0px; }
        .c_page_main .c_contain2 .c_cart_bar .c_cart_bar_right p {
          margin: 0 20px;
          float: left;
          height: 50px;
          line-height: 50px; }
          .c_page_main .c_contain2 .c_cart_bar .c_cart_bar_right p span {
            font-size: 20px;
            color: #ff6700; }
        .c_page_main .c_contain2 .c_cart_bar .c_cart_bar_right h3 {
          background: #ff6700;
          padding: 0 20px;
          color: white;
          line-height: 50px;
          float: left;
          cursor: pointer; }
